{% extends 'template.html.twig' %}
{% block title %}Edit QuantiteAjoute{% endblock %}
{% block pagetitle %}Edit QuantiteAjoute{% endblock %}
{% block body %}


<div class="card">
<div class="p-4 p-sm-5">

{{ form_start(form) }}
<div class="row">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}



{% endblock %}