{% extends 'base.html.twig' %}

{% block title %}New QuantiteAjoute{% endblock %}

{% block body %}
    <h1>Create new QuantiteAjoute</h1>

    {{ include('quantite_ajoute/_form.html.twig') }}

    <a href="{{ path('app_quantite_ajoute_index') }}">back to list</a>
{% endblock %}
